name: "Incremental - Synopsys Intelligent Security Scan"

on:
  pull_request:
    branches: 
      - '**'

jobs:
  analyze:
    name: Analyze
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
      with:
        # We must fetch at least the immediate parents so that if this is
        # a pull request then we can checkout the head.
        fetch-depth: 2

    # If this run was triggered by a pull request event, then checkout
    # the head of the pull request instead of the merge commit.
    - run: git checkout HEAD^2
      if: ${{ github.event_name == 'pull_request' }}
    
    - name: Generate YAML file
      run: |
        wget https://sigdevsecops.blob.core.windows.net/intelligence-orchestration/2020.11/io-setup.yml
        chmod 777 io-setup.sh
        ./io-setup.sh --slack.channel.id=C015LGE7RRQ --slack.token=${{secrets.SLACK_TOKEN}} --IS_SAST_ENABLED=${{steps.prescription.outputs.sastScan}} --IS_SCA_ENABLED=${{steps.prescription.outputs.scaScan}} --polaris.project.name=sig-devsecops/github-io-sample --polaris.url=${{secrets.POLARIS_SERVER_URL}} --polaris.token=${{secrets.POLARIS_ACCESS_TOKEN}} --blackduck.project.name=github-io-sample:1.0.0 --blackduck.url=${{secrets.BLACKDUCK_URL}} --blackduck.api.token=${{secrets.BLACKDUCK_TOKEN}}
  
    - name: Print YAML file
      run: cat synopsys-io.yml
    
    #- name: Binary Analysis with Black Duck
    #  run: bash <(curl -s https://detect.synopsys.com/detect.sh) \
    #      --blackduck.url="${{ secrets.BLACKDUCK_URL}}" \
    #      --blackduck.api.token="${{ secrets.BLACKDUCK_TOKEN}}" \
    #      --detect.tools="SIGNATURE_SCAN,DETECTOR" \
    #      --detect.binary.scan.file.path=./insecure-bank.war
